.shopping-cart{
  height: 400px;
  scrollbar-width: auto;
  scrollbar-color: #141414 #ffffff;
}
    

.shopping-cart::-webkit-scrollbar {
    width: 12px;
}
    
.shopping-cart::-webkit-scrollbar-track {
    background: #ffffff;
      
}
    
.shopping-cart::-webkit-scrollbar-thumb {
  background-color: #141414;
  border-radius: 10px;
}

@media (max-width: 768px){
  .shopping-cart{
    height: 300px;
  }
}

@media (min-width: 769px){
  .shopping-cart{
    height: 300px;
  }
}

@media(min-width: 1024px){
  .shopping-cart{
    height: 390px;
  }
}
