.cart-detail{
    width: 360px;
    top: 80px;
    overflow: scroll;
    overflow-x: hidden;
}
    
      /* Chrome, Edge, and Safari */
      .cart-detail::-webkit-scrollbar {
        width: 12px;
            /* overflow-x: hidden; */
      }
    
      .cart-detail::-webkit-scrollbar-track {
        background: #ffffff;
            /* overflow-x: hidden; */
      }
    
      .cart-detail::-webkit-scrollbar-thumb {
        background-color: #0891b2;
        border-radius: 10px;
            /* overflow-x: hidden; */
      }
